.btn {
  padding: 0.5em 2em;
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 0.25em;
  margin: 0 0.5em;
}

.btn > svg {
  margin-right: 0.5em;
}

.btn:first-child {
  margin-left: 0;
}

.btn:last-child {
  margin-right: 0;
}

.fullwidth {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  justify-content: center;
}
