.pageheader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3em;
}

.pageheader__right {
  display: flex;
  align-items: center;
}

.pageheader__right > * {
  margin: 0 0.5em;
}
