* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: rgb(101, 99, 228);
  --color-primary-light: rgb(101, 99, 228, 0.3);
  --color-light-grey: lightgrey;
  --color-white: white;
}

body {
  padding: 3em;
}
